<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/jpjames1322">Jared</a>. Jared was not always a web developer only recently has he began his robbust career into the techincal world.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'jared.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jared Phillips</h2>
      <br />
      <p>
        Originally, Jared is from Murfreesboro, TN but currently resides in Nashville. In his free time, you can find Jared in the garden or hanging out with his dog. Jared is an avid dog lover, and his German Shepherd, Wolf, has been coined his best friend.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
